/*@import 'lib/_boneless/colors';
@import 'lib/_boneless/config';
@import 'lib/_boneless/_utilities/mixins';
@import 'lib/_boneless/base';
@import 'lib/_boneless/grid';
//@import 'lib/_boneless/typography';
@import 'typebase';
@import 'lib/_boneless/buttons';
@import 'lib/_boneless/forms';
@import 'lib/_boneless/tables';
@import 'lib/_boneless/utilities';*/
/* Setup */
@import "//fonts.googleapis.com/css?family=Raleway:400,700|Inconsolata:400,700)";
html {
  /* Change default typefaces here */
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  ul li, ol li {
    line-height: 1.5rem; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.47133rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }
  table td, table th {
    padding: 0;
    line-height: 24px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

html {
  height: 100%; }

body {
  min-height: 100%; }

html, body {
  font-family: 'Raleway', sans-serif;
  background: #eeeeee;
  color: #000;
  margin: 0;
  padding: 0; }

code {
  font-family: "Inconsolata"; }

a {
  color: #31353D;
  text-decoration: none; }
  a:hover {
    color: #445878; }

nav {
  background: #1C1D21;
  color: #EEEFF7;
  padding: 1rem 0; }
  nav h1, nav h2 {
    margin-top: 0.25rem;
    padding: 0.25rem 1rem;
    width: 100%;
    text-align: center; }
  nav h1 a {
    text-decoration: none;
    color: #EEEFF7; }
    nav h1 a:hover {
      color: #EEEFF7; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1rem; }
    nav ul li a {
      padding: 0.25rem 1rem;
      display: block;
      color: #92CDCF;
      text-decoration: none; }
      nav ul li a.active {
        background: #445878;
        color: #EEEFF7; }
      nav ul li a:hover {
        color: #445878;
        background: #EEEFF7; }
  nav > ul {
    padding: 0; }

header {
  margin-top: 1rem;
  padding: 0 1rem; }
  header h1, header h2 {
    display: inline; }

main {
  padding: 0 1rem; }
  main h2, main h3 {
    margin: 0;
    padding: 0; }
  main h2 {
    border-bottom: 1px solid #555555;
    margin: 1rem 0 0; }
  main > .field-signature {
    display: block;
    margin: 2rem 1rem 1rem; }
    main > .field-signature span.label {
      margin: 0;
      padding: 0.25rem 0.5rem;
      white-space: inherit;
      display: inline-block; }
      main > .field-signature span.label::before {
        content: "("; }
      main > .field-signature span.label::after {
        content: ")"; }
    main > .field-signature code {
      margin: 0;
      padding: 0.25rem 0.5rem;
      white-space: inherit;
      display: inline-block;
      border: none;
      background: #1C1D21;
      color: #EEEFF7; }
      main > .field-signature code a {
        color: #92CDCF; }
        main > .field-signature code a:hover {
          color: #445878; }
      main > .field-signature code .identifier {
        font-weight: bold; }
      main > .field-signature code .type {
        color: #92CDCF; }
  main h3 {
    font-style: italic;
    margin: 0 1rem 1rem 3rem; }
  main p, main pre, main ul, main ol {
    margin: 0 1rem 1rem 4rem; }
  main p.alert {
    background: #1C1D21;
    color: #EEEFF7; }
  main pre {
    border: 1px solid #1C1D21;
    padding: 0 0.5rem;
    background: white; }
  main div.description {
    margin-left: -2rem; }
  main dl {
    margin: 0 1rem 1rem 5rem; }
    main dl dt {
      margin: 0 0.125rem 0.125rem;
      padding: 0.125rem;
      font-family: "Inconsolata";
      color: #445878; }
      main dl dt::before {
        content: "\f0da";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0.25rem;
        color: #1C1D21; }
      main dl dt::after {
        content: ": ";
        color: #1C1D21; }
    main dl dd {
      padding: 0 0.25rem 0.25rem 0.5rem; }
      main dl dd > p, main dl dd > .description {
        margin: 0;
        padding: 0; }

footer {
  text-align: right;
  font-size: 0.707rem; }
  footer a {
    color: #445878; }
    footer a:hover {
      color: #92CDCF; }

@media (min-width: 48em) {
  body {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #1C1D21), color-stop(20%, #1C1D21), color-stop(20%, #eeeeee), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(left, #1C1D21, #1C1D21 20%, #eeeeee 20%, #eeeeee 100%);
    background-image: -moz-linear-gradient(left, #1C1D21, #1C1D21 20%, #eeeeee 20%, #eeeeee 100%);
    background-image: -ms-linear-gradient(left, #1C1D21, #1C1D21 20%, #eeeeee 20%, #eeeeee 100%);
    background-image: -o-linear-gradient(left, #1C1D21, #1C1D21 20%, #eeeeee 20%, #eeeeee 100); }

  nav {
    background: none;
    height: 100%;
    width: 20%;
    float: left; }

  header {
    margin-top: 0; }
    header p {
      margin: 0; }

  header, main {
    margin-left: 20%;
    padding: 1rem 1rem 0;
    max-width: 960px; }

  main {
    padding-left: 2rem; }

  footer {
    top: 0;
    right: 2.5rem;
    height: 2rem;
    padding: 0 0.5rem;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    position: absolute;
    line-height: 1rem;
    text-align: center; } }

/*# sourceMappingURL=tusk.css.map */
